.main__container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    height: 100vh;
    
}
.main__container .container{
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    box-shadow: 0 0 0 2px;
}
.main__container .container header{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.9);
    margin: 1px;
}
.main__container .container .main{
    display: flex;
    flex-direction: column
}
.main__container .container .main .row{
    display: flex;
    justify-content: flex-end;
}
.main__container .container .main .row div{
    margin: 1px;
    height: 60px;
    background: rgba(0,0,0,.9);
    font-family: sans-serif;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.input{
    height: 50px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 24px;
}
.temp{
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    height: 50px;
}
.number{
    flex-basis: 180px;
}
.operator{
    flex-basis: 60px;
}
.row div:active {
    opacity: .5;
}