#container{
    width: 560px;
    height: 560px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}
#container div{
   position: relative;
   margin: 20px;
   width: 100px;
   height: 100px;
   cursor: pointer;
}
#container div::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
#container div img{
    width: 100px;
    height: 100px;
    transform:scale(0);
    transition: .3s;
}
