body{
    display: flex;
    justify-content: center;
    --container-width: 400px;
    --sans-serif: sans-serif;
    --h1-color: orange;
    --border-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.overlay{
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    justify-content: center;
    display: none;
}
.overlay .modal{
    margin-top: 10%;
    position: absolute;
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.overlay .modal .input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 2px dashed var(--border-color);
}
.overlay .modal .input input{
    font-family: var(--sans-serif);
    margin: 10px;
    border: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 2px solid var(--border-color);
    outline: none;
    font-size: 14px;
}
.overlay .modal .save {
    padding: 10px 20px;
    margin: 0 auto;
}
.overlay .modal .save button{
    font-family: var(--sans-serif);
    background: white;
    outline: none;
    box-shadow: 0 0 5px var(--border-color);
    border: 0;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.overlay .modal .save button:active{
    box-shadow: inset 0 0 5px var(--border-color);
}

.container{
    border-radius: 5px;
    width: var(--container-width);
    display: flex;
    flex-flow: column wrap;
    margin-top: 5%;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    min-height: 540px;
}
.container__header{
    padding: 0px 20px;
    border-bottom: 2px dashed var(--border-color);
}
.container__header h1{
    font-family: var(--sans-serif);
    text-transform: uppercase;
    color: var(--h1-color)
}
.container__task_list{
    overflow: auto;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.container__task_list_task{
    z-index: 1;
    position: relative;
    border-bottom: 2px dashed var(--border-color);;
}
.add{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
}
.add_icon{
    cursor: pointer;
    background-image: url(../img/add.svg);
    background-position: center, center;
    background-size: cover;
}

.container__task_list_task h3{
    margin-left: 20px;
    text-transform:capitalize;
    font-family: var(--sans-serif);
}
.container__task_list_task p{
    margin: 20px;
    text-transform:capitalize;
    font-family: var(--sans-serif);
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 30px;
}
.container__footer{
    padding: 0px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__footer button{
    font-family: var(--sans-serif);
    background: white;
    outline: none;
    box-shadow: 0 0 5px var(--border-color);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: var(--h1-color);
    cursor: pointer;
    width: 45%;
}
.container__footer button:active{
    box-shadow: inset 0 0 5px var(--border-color);
}
.search{
    border-bottom: 2px dashed var(--border-color);
    display: flex;
}
.search > * {
   padding: 10px;
   font-family: var(--sans-serif);
   background: white;
   font-size: 24px;
   border: none;
   background: rgba(0,0,0,.05);
   outline: none;
   width: 100%
}
