<link rel="stylesheet" href="./css/normalize.css">
<link rel="stylesheet" href="./css/calc.css">
<script src="calc.js"></script>
<div class="main__container">
    <div class="container">
            <header>
                    <div class='temp'></div>
                    <div class="input"></div>
                </header>
                <div class="main" onmousedown="return false">
                    <div class="row">
                        <div class="clear" style="flex-basis: 540px">C</div>
                        <div class="operator">=</div>
                    </div>
                    <div class="row">
                        <div class="number">7</div>
                        <div class="number">8</div>
                        <div class="number">9</div>
                        <div id="multiply"   class="operator">*</div>
                    </div>
                    <div class="row">
                        <div class="number">4</div>
                        <div class="number">5</div>
                        <div class="number">6</div>
                        <div id="divide"     class="operator">/</div>
                    </div>
                    <div class="row">
                        <div class="number">1</div>
                        <div class="number">2</div>
                        <div class="number">3</div>
                        <div id="sum"        class="operator">+</div>
                    </div>
                    <div class="row">
                        <div class="number" style="flex-basis: 540px">0</div>
                        <div id="difference" class="operator">-</div>
                    </div>
                </div>
    </div>
</div>